.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.logo {
    font-family: var(--font-display);
    font-weight: var(--fw-bold);
    font-size: var(--fs-2xl);
    color: var(--text);
    cursor: pointer;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--bg);
    /* position: relative; */
}

.navLinks {
    display: flex;
    gap: var(--space-xl);
}

.navLinks a {
    font-size: var(--fs-l);
    color: var(--text);
    transition: color 0.2s;
}

.navLinks a:hover {
    color: var(--accent-shade);
}

.navLinks a.active {
    color: var(--accent-shade);
}

.hamburger {
    display: none;
    font-size: var(--fs-xl);
    color: var(--text);
    cursor: pointer;
}

/* breakpoint */
@media (max-width: 1024px) {
    .navLinks {
        display: none;
    }

    .navLinksOpen {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 64px;
        right: 24px;
        padding: 0px var(--space-base);
        gap: var(--space-m);
        /* border: 1px solid var(--border); */
        min-width: 140px;
    }

    .hamburger {
        display: block;
    }
}

@media (max-width: 430px) {
    .logo {
        font-size: var(--fs-xl);
    }
}
